Repository olwalgeorge/chiroerp-final: changes, and which pre-commit hooks are due for each by the changed paths.
All: hexagonal-domain-isolation, hexagonal-usecase-ports, ddd-rich-domain-model, eda-event-naming, cqrs-command-validation, multi-tenancy-isolation, rest-usecase-dependency, event-outbox-pattern, validate-adrs

.pre-commit-config.yaml:

# Pre-commit hooks for ChiroERP
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Architecture compliance checks
  - repo: local
    hooks:
      # Hexagonal Architecture: Domain layer must not depend on infrastructure
      - id: hexagonal-domain-isolation
        name: Hexagonal - Domain Layer Isolation
        entry: python scripts/hooks/hook-wrapper.py check-hexagonal-architecture.ps1
        language: system
        files: '.*-domain/src/main/kotlin/.*/domain/.*\.kt$'
        pass_filenames: true

      # Hexagonal Architecture: Use cases must depend on ports, not adapters
      - id: hexagonal-usecase-ports
        name: Hexagonal - Use Cases Depend on Ports
        entry: python scripts/hooks/hook-wrapper.py check-usecase-dependencies.ps1
        language: system
        files: '.*-domain/src/main/kotlin/.*/application/usecase/.*\.kt$'
        pass_filenames: true

      # DDD: Entities must have domain behavior, not anemic models
      - id: ddd-rich-domain-model
        name: DDD - Rich Domain Models
        entry: python scripts/hooks/hook-wrapper.py check-domain-behavior.ps1
        language: system
        files: '.*-domain/src/main/kotlin/.*/domain/.*\.kt$'
        pass_filenames: true

      # EDA: Domain events must follow naming convention
      - id: eda-event-naming
        name: EDA - Domain Event Naming Convention
        entry: python scripts/hooks/hook-wrapper.py check-event-naming.ps1
        language: system
        files: '.*-domain/src/main/kotlin/.*/domain/event/.*\.kt$'
        pass_filenames: true

      # CQRS: Commands must have validation annotations
      - id: cqrs-command-validation
        name: CQRS - Command Validation
        entry: python scripts/hooks/hook-wrapper.py check-command-validation.ps1
        language: system
        files: '.*-domain/src/main/kotlin/.*/application/port/input/command/.*\.kt$'
        pass_filenames: true

      # Multi-tenancy: Repository queries must filter by tenantId
      - id: multi-tenancy-isolation
        name: Multi-Tenancy - Repository Isolation
        entry: python scripts/hooks/hook-wrapper.py check-tenant-isolation.ps1
        language: system
        files: '.*-domain/src/main/kotlin/.*/infrastructure/.*Repository.*\.kt$'
        pass_filenames: true

      # REST: Resources must depend on use cases, not repositories
      - id: rest-usecase-dependency
        name: REST - Use Case Dependency
        entry: python scripts/hooks/hook-wrapper.py check-rest-dependencies.ps1
        language: system
        files: '.*-domain/src/main/kotlin/.*/infrastructure/adapter/input/rest/.*Resource\.kt$'
        pass_filenames: true

      # Outbox Pattern: Events must use transactional outbox
      - id: event-outbox-pattern
        name: EDA - Transactional Outbox Pattern
        entry: python scripts/hooks/hook-wrapper.py check-outbox-pattern.ps1
        language: system
        files: '.*-domain/src/main/kotlin/.*/infrastructure/adapter/output/event/.*\.kt$'
        pass_filenames: true

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key

  # Gradle wrapper validation
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-executables-have-shebangs
        files: 'gradlew'

  # Documentation validation
  - repo: local
    hooks:
      - id: validate-adrs
        name: Validate ADR References
        entry: scripts/validate-docs.ps1
        language: system
        pass_filenames: false
        files: 'docs/.*\.md$'

refactor(finance): Implement ADR-001 compliant hexagonal architecture
  finance-domain/src/main/kotlin/com/chiroerp/finance/api/GLAccountResource.kt
  finance-domain/src/main/kotlin/com/chiroerp/finance/application/port/input/command/CreateGLAccountCommand.kt
  finance-domain/src/main/kotlin/com/chiroerp/finance/application/port/input/command/CreateJournalEntryCommand.kt
  finance-domain/src/main/kotlin/com/chiroerp/finance/application/port/input/command/PostJournalEntryCommand.kt
  finance-domain/src/main/kotlin/com/chiroerp/finance/application/port/input/command/UpdateGLAccountCommand.kt
  finance-domain/src/main/kotlin/com/chiroerp/finance/application/port/input/query/GetGLAccountQuery.kt
  finance-domain/src/main/kotlin/com/chiroerp/finance/application/port/input/query/ListGLAccountsQuery.kt
  finance-domain/src/main/kotlin/com/chiroerp/finance/application/port/output/GLAccountPort.kt
  finance-domain/src/main/kotlin/com/chiroerp/finance/application/port/output/JournalEntryPort.kt
  finance-domain/src/main/kotlin/com/chiroerp/finance/application/service/CreateGLAccountUseCase.kt
  finance-domain/src/main/kotlin/com/chiroerp/finance/application/service/CreateJournalEntryUseCase.kt
  finance-domain/src/main/kotlin/com/chiroerp/finance/application/service/GetGLAccountUseCase.kt
  finance-domain/src/main/kotlin/com/chiroerp/finance/application/service/ListGLAccountsUseCase.kt
  finance-domain/src/main/kotlin/com/chiroerp/finance/application/service/PostJournalEntryUseCase.kt
  finance-domain/src/main/kotlin/com/chiroerp/finance/application/service/UpdateGLAccountUseCase.kt
  finance-domain/src/main/kotlin/com/chiroerp/finance/domain/JournalEntryService.kt
  finance-domain/src/main/kotlin/com/chiroerp/finance/infrastructure/adapter/input/rest/GLAccountResource.kt
  finance-domain/src/main/kotlin/com/chiroerp/finance/infrastructure/adapter/output/persistence/GLAccountPersistenceAdapter.kt
  finance-domain/src/main/kotlin/com/chiroerp/finance/infrastructure/adapter/output/persistence/JournalEntryPersistenceAdapter.kt
  finance-domain/src/main/kotlin/com/chiroerp/finance/infrastructure/persistence/JournalEntryEntity.kt
  finance-domain/src/main/kotlin/com/chiroerp/finance/infrastructure/persistence/JournalEntryRepository.kt
  finance-domain/src/main/kotlin/com/chiroerp/finance/infrastructure/security/TenantContext.kt
  finance-domain/src/main/kotlin/com/chiroerp/finance/infrastructure/security/TenantRequestFilter.kt
  gradle.properties
Due: hexagonal-domain-isolation, ddd-rich-domain-model, cqrs-command-validation, multi-tenancy-isolation, rest-usecase-dependency

chore(finance): Add Flyway migration V3 and fix build issues
  build-logic/gradle.properties
  finance-domain/src/main/resources/db/migration/V3__align_journal_entry_columns.sql
  finance-domain/src/test/kotlin/com/chiroerp/finance/domain/JournalEntryServiceTest.kt
  finance-domain/src/test/kotlin/com/chiroerp/finance/infrastructure/HardcodedPostingRulesTest.kt
Due: none

fix(finance): Add application.properties to use Docker Compose database
  finance-domain/src/main/resources/application.properties
Due: none

fix(finance): Rewrite V2 migration to match UUID-based entity schema from ADR-001
  finance-domain/src/main/resources/db/migration/V2__create_journal_entry_tables.sql
  finance-domain/src/main/resources/db/migration/V3__align_journal_entry_columns.sql
Due: none

feat(finance): Add V3 migration to align gl_accounts schema with refactored entities
  finance-domain/src/main/resources/db/migration/V3__align_gl_accounts_schema.sql
Due: none

feat(finance): Add comprehensive journal entry use case tests and query operations
  finance-domain/src/main/kotlin/com/chiroerp/finance/application/port/input/query/GetJournalEntryQuery.kt
  finance-domain/src/main/kotlin/com/chiroerp/finance/application/port/input/query/ListJournalEntriesQuery.kt
  finance-domain/src/main/kotlin/com/chiroerp/finance/application/port/output/JournalEntryPort.kt
  finance-domain/src/main/kotlin/com/chiroerp/finance/application/service/GetJournalEntryUseCase.kt
  finance-domain/src/main/kotlin/com/chiroerp/finance/application/service/ListJournalEntriesUseCase.kt
  finance-domain/src/main/kotlin/com/chiroerp/finance/application/service/PostJournalEntryUseCase.kt
  finance-domain/src/main/kotlin/com/chiroerp/finance/infrastructure/adapter/input/rest/JournalEntryResource.kt
  finance-domain/src/main/kotlin/com/chiroerp/finance/infrastructure/adapter/output/persistence/JournalEntryPersistenceAdapter.kt
  finance-domain/src/main/kotlin/com/chiroerp/finance/infrastructure/security/TenantRequestFilter.kt
  finance-domain/src/test/kotlin/com/chiroerp/finance/application/service/CreateJournalEntryUseCaseTest.kt
  finance-domain/src/test/kotlin/com/chiroerp/finance/application/service/GetJournalEntryUseCaseTest.kt
  finance-domain/src/test/kotlin/com/chiroerp/finance/application/service/ListJournalEntriesUseCaseTest.kt
  finance-domain/src/test/kotlin/com/chiroerp/finance/application/service/PostJournalEntryUseCaseTest.kt
  finance-domain/src/test/kotlin/com/chiroerp/finance/infrastructure/JournalEntryResourceTest.kt
  finance-domain/src/test/kotlin/com/chiroerp/finance/infrastructure/TenantIsolationTest.kt
Due: rest-usecase-dependency

chore: standardize line endings
  .gitattributes
Due: none

chore: rebuild architecture pre-commit workflow
  .pre-commit-config.yaml
  architecture-tests/build.gradle.kts
  architecture-tests/src/test/kotlin/com/chiroerp/arch/ArchitectureRulesTest.kt
  build.gradle.kts
  docs/ARCHITECTURE-COMPLIANCE-REPORT.md
  docs/QUICKSTART-HOOKS.md
  docs/adr/ADR-020-event-driven-architecture-hybrid-policy.md
Due: validate-adrs

fix: repair scaffold platform finance interpolation
  scaffold-platform-finance.ps1
Due: none

feat: scaffold finance platform modules
  architecture-tests/build.gradle.kts
  build.gradle.kts
Due: none

feat: scaffold tenancy-identity bounded context
  build-logic/src/main/kotlin/chiroerp/buildlogic/KotlinConventionsPlugin.kt
  docker-compose.yml
  scaffold-tenancy-identity.ps1
  settings.gradle.kts
  tenancy-identity/identity-core/build.gradle.kts
  tenancy-identity/identity-core/identity-core-application/build.gradle.kts
  tenancy-identity/identity-core/identity-core-domain/build.gradle.kts
  tenancy-identity/identity-core/identity-core-infrastructure/build.gradle.kts
  tenancy-identity/identity-core/identity-core-infrastructure/src/main/kotlin/com/chiroerp/identity/core/infrastructure/CoreApplication.kt
  tenancy-identity/identity-core/identity-core-infrastructure/src/main/resources/application-dev.yml
  tenancy-identity/identity-core/identity-core-infrastructure/src/main/resources/application-prod.yml
  tenancy-identity/identity-core/identity-core-infrastructure/src/main/resources/application.yml
  tenancy-identity/tenancy-core/build.gradle.kts
  tenancy-identity/tenancy-core/tenancy-core-application/build.gradle.kts
  tenancy-identity/tenancy-core/tenancy-core-domain/build.gradle.kts
  tenancy-identity/tenancy-core/tenancy-core-infrastructure/build.gradle.kts
  tenancy-identity/tenancy-core/tenancy-core-infrastructure/src/main/kotlin/com/chiroerp/tenancy/core/infrastructure/CoreApplication.kt
  tenancy-identity/tenancy-core/tenancy-core-infrastructure/src/main/resources/application-dev.yml
  tenancy-identity/tenancy-core/tenancy-core-infrastructure/src/main/resources/application-prod.yml
  tenancy-identity/tenancy-core/tenancy-core-infrastructure/src/main/resources/application.yml
  tenancy-identity/tenancy-shared/build.gradle.kts
Due: none

Fix build issues: PowerShell syntax, Kotlin compiler config, and Quarkus task dependencies
  build-logic/src/main/kotlin/chiroerp/buildlogic/QuarkusConventionsPlugin.kt
  build.gradle.kts
  scaffold-tenancy-identity.ps1
Due: none

feat: Implement P3 ADRs (070-075) in COMPLETE_STRUCTURE.txt
  COMPLETE_STRUCTURE.txt
  docs/WORLD-CLASS-COMPLETE-SUMMARY.md
  docs/WORLD-CLASS-IMPLEMENTATION-STATUS.md
  docs/WORLD-CLASS-P3-ROADMAP-2028-2029.md
  docs/WORLD-CLASS-ROADMAP.md
  docs/adr/ADR-039-quality-management.md
  docs/adr/ADR-042-field-service-operations.md
  docs/adr/ADR-050-public-sector-government.md
  docs/adr/ADR-051-insurance-policy-claims.md
  docs/adr/ADR-058-soc2-compliance-framework.md
  docs/adr/ADR-059-iso27001-isms.md
  docs/adr/ADR-060-upgrade-management-zero-downtime.md
  docs/adr/ADR-061-data-migration-toolkit.md
  docs/adr/ADR-062-multi-country-tax-engine.md
  docs/adr/ADR-063-configuration-transport-system.md
  docs/adr/ADR-064-gdpr-compliance-framework.md
  docs/adr/ADR-065-country-localization.md
  docs/adr/ADR-066-industry-healthcare-addon.md
  docs/adr/ADR-067-advanced-planning-scheduling.md
  docs/adr/ADR-070-ai-demand-forecasting-enterprise.md
  docs/adr/ADR-071-global-trade-customs-management.md
  docs/adr/ADR-072-utilities-industry-solution.md
  docs/adr/ADR-073-oil-gas-industry-solution.md
  docs/adr/ADR-074-real-estate-management.md
  docs/adr/ADR-075-media-entertainment.md
Due: validate-adrs

refactor: move enterprise-ml to ai-platform and fix duplicate CorrelationId
  COMPLETE_STRUCTURE.txt
Due: none

Promote ADR-039, ADR-042, ADR-050, ADR-051 to Production-Ready and add new modules to build
  docs/WORLD-CLASS-P3-ROADMAP-2028-2029.md
  docs/WORLD-CLASS-ROADMAP.md
  docs/adr/ADR-039-quality-management.md
  docs/adr/ADR-042-field-service-operations.md
  docs/adr/ADR-050-public-sector-government.md
  docs/adr/ADR-051-insurance-policy-claims.md
  docs/adr/README.md
  settings.gradle.kts
Due: validate-adrs

Update COMPLETE_STRUCTURE.txt and WORLD-CLASS-ROADMAP.md with World-Class Roadmap Structural Alignment (Upgrade-First, P0-P2)
  COMPLETE_STRUCTURE.txt
  docs/WORLD-CLASS-ROADMAP.md
Due: validate-adrs

Update COMPLETE_STRUCTURE.txt, WORLD-CLASS-IMPLEMENTATION-STATUS.md, and ERP-COMPETITIVE-MATRIX.md with World-Class Roadmap Structural Alignment and Blueprint Status Updates
  COMPLETE_STRUCTURE.txt
  docs/WORLD-CLASS-IMPLEMENTATION-STATUS.md
  docs/architecture/ERP-COMPETITIVE-MATRIX.md
Due: validate-adrs

docs: Update COMPLETE_STRUCTURE.txt for bounded-contexts directory structure
  COMPLETE_STRUCTURE.txt
Due: none

Fix critical AP persistence issues for SAP-grade behavior
  bounded-contexts/finance/finance-ap/ap-application/build.gradle.kts
  bounded-contexts/finance/finance-ap/ap-application/src/main/kotlin/com/chiroerp/finance/ap/application/handler/BillCommandHandler.kt
  bounded-contexts/finance/finance-ap/ap-application/src/main/kotlin/com/chiroerp/finance/ap/application/handler/PaymentCommandHandler.kt
  bounded-contexts/finance/finance-ap/ap-infrastructure/src/main/kotlin/com/chiroerp/finance/ap/infrastructure/persistence/BillEntity.kt
  bounded-contexts/finance/finance-ap/ap-infrastructure/src/main/kotlin/com/chiroerp/finance/ap/infrastructure/persistence/BillRepositoryImpl.kt
  bounded-contexts/finance/finance-ap/ap-infrastructure/src/main/kotlin/com/chiroerp/finance/ap/infrastructure/persistence/PaymentEntity.kt
  bounded-contexts/finance/finance-ap/ap-infrastructure/src/main/kotlin/com/chiroerp/finance/ap/infrastructure/persistence/PaymentRepositoryImpl.kt
  bounded-contexts/finance/finance-ap/ap-infrastructure/src/test/kotlin/com/chiroerp/finance/ap/infrastructure/persistence/PaymentEntityTest.kt
Due: none

feat(build): enforce architecture gates and layer-safe dependencies
  architecture-tests/build.gradle.kts
  bounded-contexts/finance/finance-ap/ap-application/build.gradle.kts
  bounded-contexts/finance/finance-ap/ap-domain/build.gradle.kts
  bounded-contexts/finance/finance-ap/ap-infrastructure/build.gradle.kts
  bounded-contexts/finance/finance-ar/ar-application/build.gradle.kts
  bounded-contexts/finance/finance-ar/ar-domain/build.gradle.kts
  bounded-contexts/finance/finance-ar/ar-infrastructure/build.gradle.kts
  bounded-contexts/finance/finance-assets/assets-application/build.gradle.kts
  bounded-contexts/finance/finance-assets/assets-domain/build.gradle.kts
  bounded-contexts/finance/finance-assets/assets-infrastructure/build.gradle.kts
  bounded-contexts/finance/finance-gl/gl-application/build.gradle.kts
  bounded-contexts/finance/finance-gl/gl-domain/build.gradle.kts
  bounded-contexts/finance/finance-gl/gl-infrastructure/build.gradle.kts
  bounded-contexts/finance/finance-shared/build.gradle.kts
  bounded-contexts/finance/finance-tax/tax-application/build.gradle.kts
  bounded-contexts/finance/finance-tax/tax-domain/build.gradle.kts
  bounded-contexts/finance/finance-tax/tax-domain/src/main/kotlin/com/chiroerp/finance/tax/domain/model/return/TaxPayable.kt
  bounded-contexts/finance/finance-tax/tax-domain/src/main/kotlin/com/chiroerp/finance/tax/domain/model/return/TaxRefund.kt
  bounded-contexts/finance/finance-tax/tax-domain/src/main/kotlin/com/chiroerp/finance/tax/domain/model/return/TaxReturn.kt
  bounded-contexts/finance/finance-tax/tax-domain/src/main/kotlin/com/chiroerp/finance/tax/domain/model/return/TaxReturnId.kt
  bounded-contexts/finance/finance-tax/tax-domain/src/main/kotlin/com/chiroerp/finance/tax/domain/model/return/TaxReturnLine.kt
  bounded-contexts/finance/finance-tax/tax-domain/src/main/kotlin/com/chiroerp/finance/tax/domain/model/return/TaxReturnPeriod.kt
  bounded-contexts/finance/finance-tax/tax-domain/src/main/kotlin/com/chiroerp/finance/tax/domain/model/return/TaxReturnStatus.kt
  bounded-contexts/finance/finance-tax/tax-infrastructure/build.gradle.kts
  bounded-contexts/tenancy-identity/identity-core/build.gradle.kts
  bounded-contexts/tenancy-identity/tenancy-core/build.gradle.kts
  bounded-contexts/tenancy-identity/tenancy-shared/build.gradle.kts
  build.gradle.kts
  platform-shared/common-messaging/build.gradle.kts
  platform-shared/common-observability/build.gradle.kts
  platform-shared/common-security/build.gradle.kts
  platform-shared/common-types/build.gradle.kts
  platform-shared/config-model/build.gradle.kts
  platform-shared/org-model/build.gradle.kts
  platform-shared/workflow-model/build.gradle.kts
Due: hexagonal-domain-isolation, ddd-rich-domain-model

feat(arch): add infrastructure layer rules and config-cache compatibility
  architecture-tests/src/test/kotlin/com/chiroerp/arch/ArchitectureRulesTest.kt
  build.gradle.kts
Due: none

fix(test): add JBoss LogManager and placeholder test stub
  build-logic/src/main/kotlin/chiroerp/buildlogic/KotlinConventionsPlugin.kt
  platform-shared/common-messaging/src/test/kotlin/com/chiroerp/shared/messaging/EventBusTest.kt
Due: none

fix(test): allow placeholder tests in scaffold modules while preserving arch enforcement
  build-logic/src/main/kotlin/chiroerp/buildlogic/KotlinConventionsPlugin.kt
Due: none

feat: MVP infrastructure with schema-partitioned PostgreSQL
  .env.example
  README.md
  config/grafana/dashboards/chiroerp-mvp-overview.json
  config/grafana/provisioning/dashboards/default.yml
  config/grafana/provisioning/datasources/prometheus.yml
  config/prometheus/prometheus.yml
  database/init/postgres-app/01-init-mvp-schemas.sql
  database/pgadmin-servers.json
  docker-compose.yml
  docs/DEVELOPER_SETUP.md
  docs/MVP-INFRA-PREIMPLEMENTATION.md
  scripts/dev-setup.ps1
Due: validate-adrs

feat(tenancy-core): implement transactional outbox for reliable event publishing (TI-08)
  bounded-contexts/tenancy-identity/tenancy-core/build.gradle.kts
  bounded-contexts/tenancy-identity/tenancy-core/src/main/kotlin/com/chiroerp/tenancy/core/infrastructure/messaging/TenantKafkaEventPublisher.kt
  bounded-contexts/tenancy-identity/tenancy-core/src/main/kotlin/com/chiroerp/tenancy/core/infrastructure/outbox/TenantOutboxDispatcher.kt
  bounded-contexts/tenancy-identity/tenancy-core/src/main/kotlin/com/chiroerp/tenancy/core/infrastructure/outbox/TenantOutboxEntry.kt
  bounded-contexts/tenancy-identity/tenancy-core/src/main/kotlin/com/chiroerp/tenancy/core/infrastructure/outbox/TenantOutboxEventPublisher.kt
  bounded-contexts/tenancy-identity/tenancy-core/src/main/kotlin/com/chiroerp/tenancy/core/infrastructure/outbox/TenantOutboxJpaEntity.kt
  bounded-contexts/tenancy-identity/tenancy-core/src/main/kotlin/com/chiroerp/tenancy/core/infrastructure/outbox/TenantOutboxJpaStore.kt
  bounded-contexts/tenancy-identity/tenancy-core/src/main/kotlin/com/chiroerp/tenancy/core/infrastructure/outbox/TenantOutboxRelayService.kt
  bounded-contexts/tenancy-identity/tenancy-core/src/main/kotlin/com/chiroerp/tenancy/core/infrastructure/outbox/TenantOutboxRelayWorker.kt
  bounded-contexts/tenancy-identity/tenancy-core/src/main/kotlin/com/chiroerp/tenancy/core/infrastructure/outbox/TenantOutboxStore.kt
  bounded-contexts/tenancy-identity/tenancy-core/src/main/resources/application.yml
  bounded-contexts/tenancy-identity/tenancy-core/src/main/resources/db/migration/V003__create_tenant_outbox_table.sql
  bounded-contexts/tenancy-identity/tenancy-core/src/test/kotlin/com/chiroerp/tenancy/core/infrastructure/outbox/TenantOutboxJpaStoreTest.kt
  bounded-contexts/tenancy-identity/tenancy-core/src/test/kotlin/com/chiroerp/tenancy/core/infrastructure/outbox/TenantOutboxRelayServiceTest.kt
  bounded-contexts/tenancy-identity/tenancy-core/src/test/resources/application.yml
  docs/MVP-IMPLEMENTATION-ROADMAP.md
Due: validate-adrs

fix(tenancy-core): add atomic claiming and terminal failure handling to outbox relay
  bounded-contexts/tenancy-identity/tenancy-core/src/main/kotlin/com/chiroerp/tenancy/core/infrastructure/outbox/TenantOutboxEntry.kt
  bounded-contexts/tenancy-identity/tenancy-core/src/main/kotlin/com/chiroerp/tenancy/core/infrastructure/outbox/TenantOutboxJpaEntity.kt
  bounded-contexts/tenancy-identity/tenancy-core/src/main/kotlin/com/chiroerp/tenancy/core/infrastructure/outbox/TenantOutboxJpaStore.kt
  bounded-contexts/tenancy-identity/tenancy-core/src/main/kotlin/com/chiroerp/tenancy/core/infrastructure/outbox/TenantOutboxRelayService.kt
  bounded-contexts/tenancy-identity/tenancy-core/src/main/kotlin/com/chiroerp/tenancy/core/infrastructure/outbox/TenantOutboxStore.kt
  bounded-contexts/tenancy-identity/tenancy-core/src/main/resources/application.yml
  bounded-contexts/tenancy-identity/tenancy-core/src/main/resources/db/migration/V004__add_outbox_status_column.sql
  bounded-contexts/tenancy-identity/tenancy-core/src/test/kotlin/com/chiroerp/tenancy/core/infrastructure/outbox/TenantOutboxConcurrencyTest.kt
  bounded-contexts/tenancy-identity/tenancy-core/src/test/kotlin/com/chiroerp/tenancy/core/infrastructure/outbox/TenantOutboxJpaStoreTest.kt
  bounded-contexts/tenancy-identity/tenancy-core/src/test/kotlin/com/chiroerp/tenancy/core/infrastructure/outbox/TenantOutboxRelayServiceTest.kt
Due: none

fix(tenancy-core): relax concurrency test assertions for timing variations
  bounded-contexts/tenancy-identity/tenancy-core/src/test/kotlin/com/chiroerp/tenancy/core/infrastructure/outbox/TenantOutboxConcurrencyTest.kt
Due: none

feat(tenancy-core): complete TI-04 provisioning and TI-09 observability, pass TI-10 gate review
  bounded-contexts/tenancy-identity/tenancy-core/src/main/kotlin/com/chiroerp/tenancy/core/application/exception/TenantApplicationExceptions.kt
  bounded-contexts/tenancy-identity/tenancy-core/src/main/kotlin/com/chiroerp/tenancy/core/application/service/TenantProvisioningService.kt
  bounded-contexts/tenancy-identity/tenancy-core/src/main/kotlin/com/chiroerp/tenancy/core/application/service/TenantSchemaProvisioner.kt
  bounded-contexts/tenancy-identity/tenancy-core/src/main/kotlin/com/chiroerp/tenancy/core/infrastructure/observability/TenantAuditLogger.kt
  bounded-contexts/tenancy-identity/tenancy-core/src/main/kotlin/com/chiroerp/tenancy/core/infrastructure/observability/TenantOutboxHealthCheck.kt
  bounded-contexts/tenancy-identity/tenancy-core/src/main/kotlin/com/chiroerp/tenancy/core/infrastructure/observability/TenantOutboxMetricsCollector.kt
  bounded-contexts/tenancy-identity/tenancy-core/src/main/kotlin/com/chiroerp/tenancy/core/infrastructure/outbox/TenantOutboxRelayService.kt
  bounded-contexts/tenancy-identity/tenancy-core/src/main/kotlin/com/chiroerp/tenancy/core/infrastructure/persistence/DatabaseTenantSchemaProvisioner.kt
  bounded-contexts/tenancy-identity/tenancy-core/src/main/kotlin/com/chiroerp/tenancy/core/infrastructure/web/TenantController.kt
  bounded-contexts/tenancy-identity/tenancy-core/src/main/resources/application.yml
  bounded-contexts/tenancy-identity/tenancy-core/src/test/kotlin/com/chiroerp/tenancy/core/application/TenantCommandHandlerTest.kt
  bounded-contexts/tenancy-identity/tenancy-core/src/test/kotlin/com/chiroerp/tenancy/core/application/TenantProvisioningServiceTest.kt
  bounded-contexts/tenancy-identity/tenancy-core/src/test/kotlin/com/chiroerp/tenancy/core/infrastructure/observability/TenantAuditLoggerTest.kt
  bounded-contexts/tenancy-identity/tenancy-core/src/test/kotlin/com/chiroerp/tenancy/core/infrastructure/observability/TenantOutboxHealthCheckTest.kt
  bounded-contexts/tenancy-identity/tenancy-core/src/test/kotlin/com/chiroerp/tenancy/core/infrastructure/observability/TenantOutboxMetricsCollectorTest.kt
  bounded-contexts/tenancy-identity/tenancy-core/src/test/kotlin/com/chiroerp/tenancy/core/infrastructure/outbox/TenantOutboxRelayServiceTest.kt
  bounded-contexts/tenancy-identity/tenancy-core/src/test/kotlin/com/chiroerp/tenancy/core/infrastructure/provisioning/TenantProvisioningSchemaIntegrationTest.kt
  bounded-contexts/tenancy-identity/tenancy-core/src/test/resources/application.yml
  docs/MVP-IMPLEMENTATION-ROADMAP.md
Due: validate-adrs

feat(tenancy-core): complete TI-04 enterprise database provisioning follow-ups
  bounded-contexts/tenancy-identity/tenancy-core/src/main/kotlin/com/chiroerp/tenancy/core/application/service/ProvisioningTelemetry.kt
  bounded-contexts/tenancy-identity/tenancy-core/src/main/kotlin/com/chiroerp/tenancy/core/application/service/TenantProvisioningService.kt
  bounded-contexts/tenancy-identity/tenancy-core/src/main/kotlin/com/chiroerp/tenancy/core/application/service/TenantSchemaProvisioner.kt
  bounded-contexts/tenancy-identity/tenancy-core/src/main/kotlin/com/chiroerp/tenancy/core/infrastructure/observability/TenantProvisioningMetrics.kt
  bounded-contexts/tenancy-identity/tenancy-core/src/main/kotlin/com/chiroerp/tenancy/core/infrastructure/persistence/DatabaseTenantSchemaProvisioner.kt
  bounded-contexts/tenancy-identity/tenancy-core/src/main/resources/application.yml
  bounded-contexts/tenancy-identity/tenancy-core/src/test/kotlin/com/chiroerp/tenancy/core/application/TenantCommandHandlerTest.kt
  bounded-contexts/tenancy-identity/tenancy-core/src/test/kotlin/com/chiroerp/tenancy/core/application/TenantProvisioningServiceTest.kt
  bounded-contexts/tenancy-identity/tenancy-core/src/test/kotlin/com/chiroerp/tenancy/core/infrastructure/observability/TenantProvisioningMetricsTest.kt
  bounded-contexts/tenancy-identity/tenancy-core/src/test/resources/application.yml
  docs/MVP-IMPLEMENTATION-ROADMAP.md
Due: validate-adrs

test(tenancy-core): add Testcontainers support for PostgreSQL integration tests
  bounded-contexts/tenancy-identity/tenancy-core/build.gradle.kts
  bounded-contexts/tenancy-identity/tenancy-core/src/test/kotlin/com/chiroerp/tenancy/core/testsupport/PostgresTestResource.kt
  bounded-contexts/tenancy-identity/tenancy-core/src/test/resources/quarkus-test-resources.properties
Due: none
